/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main-image {
	width:1000px;
	margin: auto ;
}
.dugong-image {
	width: 100%;
}


.subtext{
	font-family: "Georgia";
	color: #0603A9 ;
}

.main-title{
	font-family:"Arial Black";
	color: #0603A9;
	text-align: center;
	font-size:52px;
	margin-top:100px;
}

.main-wrapper{
	width:1000px;
	margin:auto;	
   }

.main-wrapper:after {
	display: block;
	content: ' ';
	clear: both;
}

 .main-text-box1{
 	padding-top:55px;
 	float:left;
	width:10%;
	
   }

.hamburger{
  background:none;
  float:left; 
  width:30%;
  padding:0px 15px 0px 15px;
  color:#0603A9;;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  float:right;
  width:30%;
  color:#0603A9;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; background:white;  float:left; text-align:center; font-family:"Georgia"}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block; background:#0603A9; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:#0603A9;}
.menu a:hover{text-decoration:none; color:white;} 

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

 .main-text-box2{
 	float:left;
	width:30%;
	padding-left:120px;
	padding-top:55px;
   }

 .main-text2{
 	font-family:"Georgia";
	color: #0603A9;
	line-height:1.5;
	
   }

.main-text-title3{
	font-family:"Georgia";
	color: #0603A9;
	text-align: left;
	font-size:15px;
	text-decoration: underline
}

.main-text-box3{
	float:left;
	width:40%;
	padding-top:70px;
	padding-left:80px;
	/*margin-top:170px;*/
 }

 .rotate-text {
 	width:100%;
	-ms-transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg); 
    transform: rotate(-270deg);
 }

.main-text3{
	font-family:"Georgia";
	color: #0603A9;
	font-size:15px;
	line-height:1.5;
	padding-top:20px;


}


  


a.indexlinks { text-decoration: none; color:#0603A9; font-family:"Georgia";}
a.indexlinks:visited { text-decoration: none; color:#0603A9;; }
a.indexlinks:hover { text-decoration: none; background-color:#0603A9; color: white;}
a.indexlinks:active { text-decoration: none; color:#0603A9;; }

a.indexnav { text-decoration: none; color:#0603A9; font-size:25px; line-height:2;font-family:"Georgia"; }

	